In [1]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Additional Imports
import os, json, math, time
from yelpapi import YelpAPI
from tqdm.notebook import tqdm_notebook

In [2]:
# Install tmdbsimple (only need to run once)
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\user\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\user\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2023.5.7)

In [3]:
# open the file
with open('C:/Users/User/Documents/Characteristics-of-Successful-Movies/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [4]:
# importing tmdb
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [5]:
movie = tmdb.Movies('tt1361336')
info = movie.info()
info['budget']

50000000

In [6]:
# example from package README
# source = https://github.com/celiao/tmdbsimple
releases = movie.releases()

for c in releases['countries']:
    if c['iso_3166_1'] == 'US':
        print(c['certification'])

PG
PG
PG

In [7]:
# Get the movie object for the current id
movie = tmdb.Movies('tt1361336')
# save the .info .releases dictionaries
info = movie.info()
releases = movie.releases()
# Loop through countries in releases
for c in releases['countries']:
    # if the country abbreviation==US
    if c['iso_3166_1' ] =='US':
        ## save a "certification" key in the info dict with the certification
       info['certification'] = c['certification']

In [8]:
# import glob
# # Use glob to get all filepaths that match the pattern (*=wildcard)
# tmdb_files = sorted(glob.glob("Data/filtered_title_*.csv"))
# tmdb_files

In [9]:
df_2001 = pd.read_csv('Data/tmdb_data_2001.csv')
df_2001.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres\r,averageRating,numVotes\r
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0.0,2001.0,NaN,118.0,"Comedy,Fantasy,Romance\r",NaN,NaN
1,tt0114447,movie,The Silent Force,The Silent Force,0.0,2001.0,NaN,90.0,Action\r,NaN,NaN
2,tt0116916,movie,The Lord Protector,The Lord Protector,0.0,2001.0,NaN,101.0,"Action,Adventure,Fantasy\r",NaN,NaN
3,tt0118589,movie,Glitter,Glitter,0.0,2001.0,NaN,104.0,"Drama,Music,Romance\r",NaN,NaN
4,tt0118652,movie,The Attic Expeditions,The Attic Expeditions,0.0,2001.0,NaN,100.0,"Comedy,Horror,Mystery\r",NaN,NaN

In [10]:
df_2002 = pd.read_csv('Data/tmdb_data_2002.csv')
df_2002.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres\r,averageRating,numVotes\r
0,tt0096056,movie,Crime and Punishment,Crime and Punishment,0.0,2002.0,NaN,126.0,Drama\r,NaN,NaN
1,tt0118926,movie,The Dancer Upstairs,The Dancer Upstairs,0.0,2002.0,NaN,132.0,"Crime,Drama,Thriller\r",NaN,NaN
2,tt0119980,movie,Random Shooting in L.A.,Random Shooting in L.A.,0.0,2002.0,NaN,91.0,Drama\r,NaN,NaN
3,tt0120679,movie,Frida,Frida,0.0,2002.0,NaN,123.0,"Biography,Drama,Romance\r",NaN,NaN
4,tt0120804,movie,Resident Evil,Resident Evil,0.0,2002.0,NaN,100.0,"Action,Horror,Sci-Fi\r",NaN,NaN

In [11]:
df_2001['tconst']

0       tt0035423
1       tt0114447
2       tt0116916
3       tt0118589
4       tt0118652
          ...
1571    tt9071078
1572    tt9212730
1573    tt9228234
1574    tt9555974
1575    tt9578462
Name: tconst, Length: 1576, dtype: object

In [12]:
# Get the movie object for the current id
def get_movie_rating(movie_id):
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    budget = info['budget']
    revenue = info['revenue']
    # Loop through countries in releases
    for c in releases['countries']:
        ## save a "certification" key in the info dict with the certification
        if c['iso_3166_1'] =='US':
            info['certification'] = c['certification']

    movie_data = {'movie_id' : movie_id, 'budget' : budget, 'revenue' : revenue, 'certification' : info['certification']}
    return movie_data

In [13]:
# Using a try-except statement to catch and append the error message to a list
movie_ids =  df_2001['tconst'].tolist() # ['tt0096056', 'tt0119980', 'tt0096071'] # ['tt0848228', 'tt0332280'] #
results = []
errors = []
for movie_id in movie_ids:
    
    try:
        movie_info = get_movie_rating(movie_id)
        results.append(movie_info)
        
    except Exception as e: 
        errors.append([movie_id, e]) 
    
financial_data_2001 = pd.DataFrame(results)
financial_data_2001.head()

    movie_id    budget   revenue certification
0  tt0035423  48000000  76019048         PG-13
1  tt0116916         0         0            PG
2  tt0118589  22000000   5271666         PG-13
3  tt0118652   1000000         0             R
4  tt0120166         0         0            NR

In [19]:
# Save to CSV
financial_data_2001.to_csv('Data/tmdb_data_2001.csv', index=False)